<h1>My Conversations</h1>

<% @conversations.each do |c| %>
  <div>
    <%= link_to c.subject, conversation_path(c)%>
  </div>

<% end %>

<%= link_to "New Conversation", new_conversation_path %>

<p> </p>