<h1>The main user config page</h1>

<b><%= link_to "List", "/user_config/listUsers" %></b><br><br>
<b><%= link_to "Add", "/user_config/addUser" %></b><br><br>

<b><%= link_to "Edit", "/user_config/editUser" %></b><br><br>
<b><%= link_to "Remove", "/user_config/removeUser" %></b>
