<h1>New</h1>
<table class="table table-striped">

<thead>
  <tr>
    <th> Budget Amount</th>
      <th> Dept Name</th>
        <th> Dept #</th>
      </tr>
    </thead>

<tbody>
<% @budgets.each do |b| %>
    <tr>
      <td><%= b.amount %></td>
      <td><%= b.department %></td>
      <td><%= b.deptno %></td>

    </tr>
<% end %>
</tbody>
